<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <h1 class="display-4 text-center"><%= title %></h1>
    <form action="/aluno_update" method="post">
      <input type="hidden" value="<%= aluno.matricula %>" name="matricula">
      <div class="form-group">
        <label for="cpf">cpf:</label>
        <input type="text" class="form-control" value="<%= aluno.cpf %>" id="cpf" placeholder="Entre com o cpf" name="cpf" required>
      </div>
      <div class="form-group">
        <label for="rg">rg:</label>
        <input type="text" class="form-control" value="<%= aluno.rg %>" id="rg" placeholder="Entre com o rg" name="rg" required>
      </div>
      <div class="form-group">
        <label for="sexo">sexo:</label>
        <input type="text" class="form-control" value="<%= aluno.sexo %>" id="sexo" placeholder="Entre com o sexo" name="sexo" required>
      </div>
      <div class="form-group">
        <label for="data_de_nascimento">data_de_nascimento:</label>
        <input type="date" class="form-control" value="<%= new Date(aluno.data_de_nascimento).toISOString().split('T')[0] %>" id="data_de_nascimento" placeholder="Entre com o data_de_nascimento" name="data_de_nascimento" required>
      </div>
      <div class="form-group">
        <label for="nome">nome:</label>
        <input type="text" class="form-control" value="<%= aluno.nome %>" id="nome" placeholder="Entre com o nome" name="nome" required>
      </div>
      <div class="form-group">
        <label for="email">email:</label>
        <input type="email" class="form-control" value="<%= aluno.email %>" id="email" placeholder="Entre com o email" name="email" required>
      </div>
      <div class="form-group">
        <label for="telefone">telefone:</label>
        <input type="text" class="form-control" value="<%= aluno.telefone %>" id="telefone" placeholder="Entre com o telefone" name="telefone" required>
      </div>
      <div class="form-group">
        <label for="socioeconomico_id_socioeconomico">socioeconomico_id_socioeconomico:</label>
        <select class="browser-default custom-select" id="socioeconomico_id_socioeconomico" name="socioeconomico_id_socioeconomico">
          <option value="">Não possui cadastro socioeconômico</option>
          <% cadastros.forEach(function(cadastro){ %>
            <option value="<%= cadastro.id_socioeconomico %>" <%= (aluno.socioeconomico_id_socioeconomico == cadastro.id_socioeconomico) ? "selected" : "" %> >ID: <%= cadastro.id_socioeconomico %> Renda per capita: <%= cadastro.renda_per_capita %> Membros na família: <%= cadastro.numero_de_membros_da_familia %></td></option>
          <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label for="permissao_para_pegar_notebook">permissao_para_pegar_notebook:</label>
        <select class="browser-default custom-select" id="permissao_para_pegar_notebook" name="permissao_para_pegar_notebook">
          <option value="0" <%= (aluno.permissao_para_pegar_notebook == "0") ? "selected" : "" %>>Não</option>
          <option value="1" <%= (aluno.permissao_para_pegar_notebook == "1") ? "selected" : "" %>>Sim</option>
        </select>
      </div>
      <div class="form-group">
        <label for="local_idlocal">local_idlocal:</label>
        <select class="browser-default custom-select" id="local_idlocal" name="local_idlocal">
          <% locais.forEach(function(local){ %>
            <option value="<%= local.idlocal %>" <%= (aluno.local_idlocal == local.idlocal) ? "selected" : "" %>>ID: <%= local.idlocal %> CEP: <%= local.cep %> <%= local.cidade %> <%= local.bairro %> <%= local.endereco %> <%= local.numero %></td></option>
          <% }); %>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
  </div>

</body>
</html>